@font-face {
  font-family: 'Hanken Grotesk';
  src: url(/fonts/HankenGrotesk.ttf);
}

@font-face {
  font-family: Sora;
  src: url(/fonts/Sora.ttf);
}

:root {
  --color-neutral-100: #ffffff;
  --color-neutral-300: #f4f6fa;
  --color-neutral-400: #eceff4;
  --color-neutral-700: #54606f;

  --color-accent-100: #e8f0fe;
  --color-accent-400: #1463f3;
  --color-accent-800: #0f1b2d;

  --color-rating: #f5a623;
  --color-success: #1fb573;
  --font-size-300: 0.875rem;
  --font-size-400: 0.9375rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.5rem;
  --font-size-700: clamp(30px, 3.4vi, 42px);
  --font-size-800: clamp(40px, 4.8vi, 62px);

  --font-family-base: 'Hanken Grotesk';
  --font-family-accent: Sora;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-400);
  color: var(--color-accent-800);

  margin: 0;
  padding: 0;
}

img {
  display: block;
  inline-size: 100%;
  border-radius: 28px;
}

.wrapper {
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.button {
  padding: 12px 20px;
  border-radius: 11px;
  border: none;
}

.button-large {
  padding: 20px 32px;
}

.button-blue {
  background-color: var(--color-accent-400);
  color: var(--color-neutral-100);
  box-shadow: 0 2px 5px var(--color-accent-400);
}

/* Typography */

h1 {
  font-size: var(--font-size-800);
}

h2 {
  font-size: var(--font-size-700);
}

h3 {
  font-size: var(--font-size-600);
}

h1,
h2,
h3 {
  font-family: var(--font-family-accent);
  font-weight: 700;
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

.lead {
  color: var(--color-neutral-700);
  font-size: var(--font-size-500);
}

.label {
  color: var(--color-accent-400);
  font-size: var(--font-size-300);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Layout */

.header {
  background-color: rgb(255 255 255 / 95%); /* 50% transparent white */
  padding-block: 8px;
  border-bottom: 1px solid var(--color-neutral-400);

  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps the nav on top of other content */
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.primary-brand {
  font-size: var(--font-size-500);
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.primary-nav {
  display: none;

  @media (width > 800px) {
    display: block;
    margin-left: auto;
  }
}

.primary-nav ul {
  display: flex;
  list-style: none;
  gap: 14px;
}

.primary-nav a {
  color: var(--color-neutral-700);
  text-decoration: none;
}

.primary-nav a:hover,
.primary-nav a:focus-visible {
  color: var(--color-accent-800);
}

.hero {
  padding-block: 24px;
}

.hero-content {
  display: grid;

  @media (width > 960px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    align-items: center;
  }
}

.badge {
  font-size: var(--font-size-400);
  background-color: var(--color-accent-100);
  color: var(--color-accent-800);

  width: fit-content;
  padding: 6px 12px;
  border: 1px solid var(--color-neutral-400);
  border-radius: 28px;
}

.badge::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #22c55e; /* Green color */
  border-radius: 50%;
  margin-right: 8px;
}

.hero .button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1em;

  @media (width > 960px) {
    display: inline-block;
    width: fit-content;

    margin-right: 1em;
  }
}

.rating {
  padding-block: 12px;
}

.rating span {
  color: var(--color-rating);
}

.banner {
  background: var(--color-neutral-300);
  padding-inline: 1rem;
  padding-block: 25px;
}

.banner-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  max-width: 800px;
  margin-inline: auto;

  @media (width > 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.services {
  padding-block: 64px;

  @media (width > 960px) {
    padding-block: 96px;
  }
}

.services h2 {
  max-width: 500px;
  margin-block-start: 0.5rem;
}

.services-intro {
  text-wrap: balance;
  max-width: 600px;
}

.services p {
  color: var(--color-neutral-700);
}

.services-content {
  display: grid;
  gap: 48px;

  @media (width > 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-card p {
  border-bottom: 1px solid var(--color-neutral-400);
  padding-block-end: 24px;
}

.service-card-footer {
  display: flex;
  justify-content: space-between;

  div {
    font-size: var(--font-size-500);
    font-weight: 700;
  }

  a {
    color: var(--color-accent-400);
    text-decoration: none;
  }
}
